#root {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.container {
  padding: clamp(16px, 5dvw ,4rem);
  background: #EEEEEE;
  color: #242424;
  border-radius: 100px 10px 10px 10px;
  max-width: 100dvw;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

input[type="text"] {
  margin: 16px;
  font-size: 1.5rem;
}

input:invalid,
.invalid {
  background-color: red;
  color: #242424;
}

button {
  width: 100%;
}